
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Roboto', sans-serif;
    background: #fff;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #fff url(../img/background.png) no-repeat;
    max-width: 100%;
    height: 800px;
    background-size:cover;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
}


.header__left {
    float: left;
    width: 50%;
    }
    
    .header__right {
    float: right;
    height: 110px;
    width: 50%;

}
.header__logo {
    padding-top: 20px;
    display: -webkit-inline-box;
}

.header_echips {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #389bef;
    padding: 10px 0 0 15px;
}
.header_echips a {
    color: #389bef;
    border-bottom: 1px solid #389bef;
    text-decoration: none;
}

.header_echips  {
    padding-top: 20px;

}

.header_echips p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;

}

.header__contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: right;
    padding-top: 20px;
        padding-right: 10px;
}
.header__contact a {
    color: #fab901;
    text-decoration: none;
    font-weight: bold;
}
.header__whatsapp {
    font-size: 16px;
    color: fff;
    padding-top: 10px;
}

.header__whatsapp p {
font-size: 18px;
margin: 0px

}

.header__whatsapp img {
    padding-left: 7px;
}

.header__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 47px;
    font-weight: bold;
    color: #fff;
    padding-top: 225px;
}


.header__title span {
    color: #fab901;
    font-weight: bold;
}

.header__title p {
    font-size: 24px;
    font-weight: 500;

}

.header__select {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 30px;
}

/*Переносим форму */

.header__block {
    height: 70px;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-flex;
    margin: 8px 10px 5px 10px;
  
}

.header__form_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    padding-bottom: 5px;
}

.header__form {
    display: inline-block;
    font-size: 16px;
    color: #888;
    border-radius: 4px;
    border: 1px solid #b6b6b6;
    background-color: #fff;
    width: 290px;
}

.header__form--fixed {
    padding: 20px 15px 20px;
}
.header__form--phone {
    width: 200px;
}

.delivery {
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    color: #343e50;
    text-align: center;
    padding-top: 40px;
}

.delivery--position {
    padding-top: 150px;
}

.delivery_desk {
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: #343e50;
    text-align: center;
    opacity: 0.7;
    padding-top: 15px;
}




.delivery__line {

    padding-top: 30px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.delivery__line_card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    width: 350px;
    font-size: 33px;
    color: #343e50;
    font-family: 'Montserrat', sans-serif;
}
/*
.delivery__line_card_back {
    background: #f3f8f9;
    padding: 20px 0px 20px 0px;
    width: 350px;
}
*/
.delivery__line  {

    text-align: center;
}

.delivery__line_desc {
    font-size: 16px;
    color: #333333;
    height: 80px;
}
.delivery__line_desc p {

    margin-top: 5px;
}

.delivery__arrow {
    background: url(../img/arrow.png) no-repeat;
    width: 50px;
    margin-top: 30px;
}

.delivery__lines {
     background: url(../img/line.png) no-repeat;
     max-width: 1380px;
    height: 98px;
    position: relative;
    top: -110px;
    margin: 0 auto;

}

.delivery__name { 
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-top: 20px;
}
 .delivery__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    width: 350px;
    padding-top: 20px;
 }
 .delivery__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-top: 10px;
 }
 .delivery__description span {
     font-size: 24px;
     font-weight: bold;
     color: #fab901;
 }

 .company_img {

    display: inline-block;
    margin-top: 100px;
    position: relative;
    }
    .company_img img {
    
        max-width: 100%;
        height: auto;
    }
    
    
    .company_name {
    font-size: 35px;
    color: fff;
    font-family: 'Montserrat', sans-serif;
    position	: absolute; 
    bottom: 165px;
    left: 100px;
    }
    .company_name--home {
        bottom: 50px;
        left: 30px;
    }
    .company_name span {
    font-weight: bold;
    color: #fab901;
    }
    

/*Выбор зарядки */


    .shop__wrapper {
      max-width: 1200px;
      padding-right: 10px;
      margin: 0 auto;
    }
    .shop__category {
      margin: 20px 0 0 0;
    }
    .shop__title {
      margin-bottom: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 35px;
      margin-top: 0;
    }
    .shop__gray {
        background: #e9ebef;
        width: 950px;
        height: 560px;
    }
    .shop__white {
        background: #fff;
        width: 950px;
        height: 560px;
        
    }
    .shop__white--fixed {
        width: 950px;
        height: 600px;
    
    }    

    .shop__position {
        padding-left: 130px;
        padding-top: 60px;
        height: 400px;
    }

    .shop__img {
        position: relative;
        top: -400px;
        left: 585px;
        width: 470px;
    }

    .shop__img img {

    }

    .border {
        border-bottom: 1px solid #dcdee0;
        width: 350px;
    }
    .border_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
    padding-top: 10px;
    }
    .border_text a {
     color: #389bef;
     text-decoration: none;
    }

    .shop__text {
        font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      line-height: 1.5;
      display: inline-flex;
    }
    .shop__text ul {
        list-style-image: url(../img/list.png);
        line-height: 2;
    }

    .shop__text p {
      margin: 1em 0;
    }
    .shop__text p:first-child {
      margin-top: 0;
    }
    .shop__text p:last-child {
      margin-bottom: 0;
    }
    .shop__text blockquote footer {
      font-style: normal;
    }
    .shop-category__container {
      border-bottom: 1px solid #dcdee0;
      margin: 0;
      padding-right: 30px;
      padding-left: 30px;
      text-align: center;
    }
    .shop-category__item {
      display: inline-block;
      margin-top: 6px;
      margin-right: 32px;
      font-family: 'MyriadProRegular', Arial, sans-serif;
      font-size: 18px;
      color: #626262;
      white-space: nowrap;
    }
    .shop-category__item.active {
      position: relative;
      color: #272727;
    }
    .shop-category__item.active:after {
      content: "";
      display: block;
      /*position: absolute;
      left: 0;
      right: 0;
      bottom: 0;*/
      margin-top: 10px;
      height: 5px;
      background-color: #00a9ef;
    }
    .shop-category__item:hover {
      color: #272727;
    }
    .shop-category a {
      display: block;
      padding: 8px 0;
      color: inherit;
      text-decoration: none;
    }
    .shop-tabs {
      margin: 20px 0;
    }
    .shop-tabs__content {
      display: none;
    }
    .shop-tabs__content.active {
      display: block;
    }
    .shop-gallery__image {
      position: relative;
      -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 2px 13px rgba(0,0,0,0.12);
              box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 2px 13px rgba(0,0,0,0.12);
    }
    .shop-gallery__image:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .shop-gallery__desc {
      display: none;
      font-size: 18px;
      margin: 16px 0 0 0;
    }
  

    /* Блок оплата */
    .payment__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 41px;
        text-align: center;
        padding-top: 70px;
    }

    .payment__line {

        padding-top: 30px;
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-bottom: 130px;
    }
    
    .payment__line_card {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0 auto;
        font-size: 33px;
        color: #343e50;
        font-family: 'Montserrat', sans-serif;
    }
    /*
    .payment__line_card_back {
        background: #f3f8f9;
        padding: 20px 0px 20px 0px;
        width: 350px;
    }
    */
    .payment__line  {
    
        text-align: center;
    }
    
    .payment__line_desc {
        font-size: 17px;
        color: #333333;
        height: 80px;
    }
    .payment__line_desc p {
    
        margin-top: 25px;
    }
    
    .map {
        background: #fff url(../img/map_background.png) no-repeat;
    max-width: 100%;
    height: 459px;
   /* background-size: contain;*/
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
    }
    .map__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 39px;
        color: #fff;
        padding-top: 55px;
    }
    .map__title b {
        color: #fab901;
    }

    .map__select {
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        font-weight: bold;
        color: #fff;
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .map__contact {
        position: relative;
        background: #fff url(../img/map_icn.png) no-repeat;
        background-position: center;
        border-radius: 5px;
        height: 127px;
        margin-left: 10px;
        margin-right: 17px;
        margin-top: 20px;
        z-index: 36;
    }

    .map__adress {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding: 37px 0px 0px 100px;
        display: inline-block;
        
    }

    .map__adress span {
        font-size: 16px;
        font-weight: 500; 
        margin-top: 10px; 
        
    }
    .map__phone {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: bold; 
        padding: 37px 0px 0px 100px;
        display: inline-block;
        float: right;
}

    .map__phone span {
        font-size: 16px;
        font-weight: 500; 
        float: right;
        width: 300px;
        padding-right: 20px;
    }

    .inline {
        display: inline-block;
    }


    

.popup {
    display: block;
    position: relative;
    border-width: 1px; 
    opacity: 1; 
    top: 0px;
    height: 252px;
    width: auto; 
    z-index: 110;
    border-style: none; 
    background-color: #e9ebef;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.ui-dialog {
    z-index: 110;
}
.ui-dialog-titlebar {
    background-color: #e9ebef;
    min-height: 24px;
    z-index: 110;
}

.ui-icon-closethick {
    background: url(../img/close.png) !important;
    background-position: left top !important;
    margin: 0 !important;
    content: "";
    display: inline-block;
}

.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
    display: none;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
    width: 24px !important;
    height: 24px !important;
}

.ui-dialog .ui-dialog-titlebar-close{
    position: absolute;
    right: 0px;
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 0 !important;
}
.ui-widget-overlay {
    background: #343e50;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.7;
    z-index: 100; 
}

.popup--form {
    display: inline-block; 
    position: absolute; 
    top: 100px; 
    left: 100px; 
    height: auto; 
    font-size: 10px;   
    
}

.poput__input {
    height: 35px;
    border-radius: 4px;
    border: 1px solid #e9ebef;
    box-shadow: 0px 6px 9px -8px #000000;
}
.popup__block {
    height: 70px;
    flex-direction: column;
    justify-content: flex-end;
    display: inline-flex;
    margin: 0px 23px 23px 24px;


}
.popup_title {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    color: #e9ebef;
    padding-bottom: 5px;
    display: inherit;
    text-align: left;
   /* z-index: 110; */
}

 
#mMenu {
    height: 120px;
    z-index: 40;
    background: white;
}

#mMenu.fixed {
    position:fixed;
    bottom: -50px;
    width:100%;
    left:0;
}

#mMenuPlaceholer {
    height: 120px;
}




/* Стиль кнопки */
.button {
	margin: 0 2px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% 'Montserrat', sans-serif;
    padding: 21px 0px 21px;
    width: 331px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 5px 14px -4px rgb(252, 158, 46);
	-moz-box-shadow: 0 5px 14px -4px rgb(252, 158, 46);
	box-shadow: 0 5px 14px -4px rgb(252, 158, 46);
}
.button:hover {
	text-decoration: none;
}
.button:active {          /* смещение на 1px вниз */
	position: relative;  
    top: 2px; 
 
}

.orange {
        font-size: 17px;
        color: #343e50;
        border: solid 0px #da7c0c;
        background: #f78d1d; /*цвет фона кнопки для браузеров без поддержки CSS3*/
        background: -webkit-gradient(linear, left top, right bottom, from(#f2c912), to(#ff9336)); /* для Webkit браузеров */
        background: -moz-linear-gradient(top,  #f2c912,  #ff9336); /* для Firefox */
            background-image: -o-linear-gradient(top,  #f2c912,  #ff9336); /* для Opera 11 */
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); /* фильтр для IE */
    }

 
    .button--inline {
        display: inline-block;
        position: relative;
        top: 45px;
    }
    .button--buy {
        margin: 38px 20px 0 20px;
        padding: 21px 75px 21px;
        width: 150px;
        font-size: 20px;
        border-radius: 3px;
    }
    .button--popup {
        width: 200px;
        font-size: 14px !important;
        border-radius: 3px;
        padding: 9px 20px 12px 20px;
    }


    }

    .button--order {
        width: 350px;
    }
    .button--header {
        width: 331px;
    }
    .button--footer {
        width: 331px;
    }
    /* Конец стиля кнопки */


    @media (max-width: 1220px) {
        .header__logo { 
            margin-left: 20px;
        }
        .header__select {
            padding-top: 100px;
        }
        .header__title {
            margin-left: 20px;
        }
        .header__select {
            margin-left: 20px;
        }  
        .delivery__lines {
            display: none;
        }
        .company_img {
            margin-top: 35px;
        }
        .map__title {
            
            font-size: 33px; 
            padding-top: 5px;
            padding-left: 20px;
        }
        .map__select {
            padding: 30px 20px;
        
        }
       
        .map__contact {
            position: static;
            margin-top: 140px;
        }
        .map {
            padding-bottom: 200px;
        }
        .shop__position {
            padding-left: 20px;
            padding-top: 30px;
        }
        .shop__gray {
            width: 100%;
        }
        .shop__white {
            width: 100%;
        }
        .shop__img {
            left: 450px;
                width: 0;
        }
        .shop__img img {
            width: 330px;
        }
        .shop__position {
            padding-top: 20px;
        }
        .shop__title {
            font-size: 30px;
        }
        .shop__text {
            font-size: 17px;
        }
    }
    @media (max-width: 800px) {
        .map__contact {
        margin-top: 85px;
        background: #fff;
        }
        .map__adress {
        padding: 37px 0px 0px 20px;
        }
        .shop__img img {
            width: 200px;
        }
    }
    
   
    @media (max-width: 700px) {
        .company_name {
            left: 20px;
            bottom: 120px;
        }
        .map__title {
            font-size: 25px;
        }
        .map__select {
            font-size: 18px;
        } 
        .map__contact {
            margin-top: 114px;
        }
        .shop__img {
            left: 100px;
            top: -350px;

        }
        .shop__title {
            margin-bottom: 200px;
        }
    }    

    @media (max-width: 650px) {
        .header {
            background: #fff url(../img/background_650.png) no-repeat;
            
        }
        .header__logo {
        display: block;
        }
        .header__title {
            font-size: 35px;
        }
        .header__title p {
            font-size: 17px;
        }
        .header__select {
            padding-top: 10px;
            font-size: 20px;
        }
        .company_name {
            font-size: 30px;
            bottom: 50px;
        }
        .map__title {
            font-size: 23px;
        }
        .map__adress {
            padding: 0px 0px 0px 20px;
        }
        .map__contact {
            margin-top: 119px;
        }
    }    
        @media (max-width: 555px) {
            .map__title {
                font-size: 16px;
            }
            .map__select { 
                padding: 15px 20px;
                font-size: 13px;
            }
            .map__contact {
                margin-top: 140px;
            }
        }    
    
        @media (max-width: 500px) {
            .header__title {
                padding-top: 160px;
            }
            .header_echips {
                display: none;
            }
            .header__contact {
                font-size: 21px;
            }
            .header__whatsapp {
                font-size: 15px;
            }
            .header__whatsapp p {
                margin-top: 0px;
            }
            .header__whatsapp img {
                display: none;
            }
            .header__form--phone {
                width: 290px;
            }
            .header__block {
                margin-left: 20px;
            }
            .button--header {
                width: 290px;
                margin-left: 20px;
                margin-top: -30px;
            } 
            .button--footer {
                width: 290px;
                margin-left: 20px;
                margin-top: -30px;
            } 
            .delivery {
                font-size: 37px;
            }
            .company_name {
                font-size: 20px;
            }
            .map__contact {
                margin-top: 95px;
            }
            .map__phone {
                padding: 20px 0px 0px 20px;
                float: none;
            }
            .shop__title {
                font-size: 25px;
            }
            
        }

        @media (max-width: 400px) {
            .header {
                background: #fff url(../img/background_400.png) no-repeat;
            }
            .map__contact {
                margin-top: 74px;
            }
            .map__phone {
                padding: 20px 0px 0px 20px;
                float: none;
            }
            .map__phone span {
                float: none;
                font-size: 15px;
            }
        }    
          
        @media (max-width: 385px) {
            .header__title {
                font-size: 30px;
            }
            .header__title p {
                font-size: 14px;
            }
            .border_text {
                font-size: 15px;
            }
            .button--order {
                width: 290px;
            }
            .border {
               width: 250px;
            }
            
        }
        @media (max-width: 370px) {
            .header__contact {
                font-size: 16px;
            }
            .header__whatsapp p {
                font-size: 16px;
            }
            .header__form--fixed {
                width: 250px;
            }
            .header__form--phone {
                width: 250px;
            }
            .button--header {
                width: 250px;
            }
            .button--buy {
                width: 110px;
            }
            .company_name {
                bottom: 20px;
            }
            .button--footer {
                width: 250px;
            }
            .border_text {
                font-size: 13px;
            }
        }
      